
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/content.css">
  <link rel="stylesheet" href="styles/layout.css">
  <title>Explosive Messages</title>
</head>
<body>
  <%- include("partials/header.ejs") %>

  <div class="ejemplos mobile">
    <form action="/" method="POST" class="buttons">
      <button id="sayayin" type="submit" value="goku" name="choice"> <img src="/images/minigoku.png" alt=""></button>
      <button id="pulp" type="submit" value="pulpFiction" name="choice"> <img src="/images/minijulespulp.png" alt=""></button>
      <button id="sor" type="submit" value="soraya" name="choice"><img src="/images/minisoraya.png" alt=""></button>
    </form>
  </div>
  
  <div class="canvas">
    <% if (locals.postMessage) { %>
     <ul>
      <li class="exploding-text">
        <%= postMessage[0].tuit %>
      </li>
     </ul>      
    <% } else { %>
      <p class="exploding-text"> Click on me! and watch me explode</p>     
      
    <% }; %>
  </div>

  <div class="usuario bigScreen">
    <form action="/" method="POST" class="bigScreens mx-1 ">
      <label>Write something to explode:</label> <br>
      <textarea name="msj" class=" font-monospace form-control form-control-dark text-bg-dark"></textarea>      
      <button type="submit" class="btn btn-warning">Post</button>      
    </form>   
  </div>

<div class="ejemplos bigScreen medium">
  <form action="/" method="POST" class="buttons">
    <button id="sayayin" type="submit" value="goku" name="choice"> <img src="/images/minigoku.png" alt="Goku"></button>
    <button id="pulp" type="submit" value="pulpFiction" name="choice"> <img src="/images/minijulespulp.png" alt="Jules"></button>
    <button id="sor" type="submit" value="soraya" name="choice"><img src="/images/minisoraya.png" alt="Soraya"></button>
  </form>
</div>
  

  <div id="root"></div>
    <script src="bundle.js"></script>
    <script src="/public/bundle.js"></script>
    
</main>

<%- include("partials/footer.ejs") %>


</body>
</html>
